.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--header-bg);
  z-index: 1000;
  transition: background-color 0.3s ease;
}

body {
  padding-top: 80px;
}

.logo-and-theme {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 20px;
}

.logo span {
  font-size: 24px;
  font-weight: 700;
  color: var(--logo-name-color);
  transition: color 0.3s ease;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: var(--link-hover-color);
}

.theme-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--text-color);
}

.theme-toggle-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--primary-blue);
}

body.dark-mode .theme-toggle-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--dark-mode-primary-blue);
}

.actions-group {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contact-btn-desktop {
  font-family: Poppins, sans-serif;
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 12px 28px;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-btn-desktop:hover {
  background-color: var(--button-hover-bg);
}

.language-toggle-btn {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 8px 12px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.language-toggle-btn:hover {
  background-color: var(--button-hover-bg);
}

.theme-toggle-mobile {
  display: none;
}

.contact-btn-mobile {
  font-family: Poppins, sans-serif;
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 12px 28px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  width: 80%;
  margin: 20px auto 0 auto;
  display: none;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #722323;
  color: var(--white);
  padding: 12px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  animation: fadeInOut 3.5s forwards;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}

.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  transition: background-color 0.3s ease;
}

.menu-icon .bar {
  width: 100%;
  height: 3px;
  background-color: var(--menu-icon-bar-color);
  transition: all 0.3s ease, background-color 0.3s ease;
}

@media (max-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
  }

  body {
    padding-top: 60px;
  }

  .nav {
    display: none;
    flex-grow: unset;
  }

  .menu-icon {
    display: flex;
  }

  .actions-group {
    display: none;
  }

  .theme-toggle-btn {
    display: flex;
    margin-left: 0;
  }
  .logo-and-theme {
    order: 1;
    gap: 10px;
  }

  .nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--header-bg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    z-index: 999;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .nav li {
    width: 100%;
    text-align: center;
  }

  .nav a {
    padding: 10px 0;
    display: block;
  }

  .nav.active .contact-btn-mobile {
    display: block;
  }
  .nav.active .language-toggle-mobile {
    display: block;
    margin-top: 10px;
  }

  .nav.active .theme-toggle-mobile {
    display: block;
    margin-top: 15px;
  }

  .nav.active .theme-toggle-mobile .theme-toggle-btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
  }

  /* Adicionar o botão de idioma móvel aqui */
  .nav.active .language-toggle-mobile {
    display: block;
    margin-top: 10px;
  }


  .notification {
    width: 90%;
    padding: 10px 15px;
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    top: 10px;
  }
}

.menu-icon.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}
.menu-icon.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}